.about__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  /* or 120% */

  text-align: center;

  color: #404040;
}

.about__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* or 140% */

  text-align: center;

  color: #404040;
}
