@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  background-color: tomato;
}

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: .3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

.about__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  /* or 120% */
  text-align: center;
  color: #404040;
}

.about__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* or 140% */
  text-align: center;
  color: #404040;
}

.action {
  padding: 114px 0;
  max-width: 1440px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.action__title {
  margin: 111px 422px 83px 422px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.action__button {
  padding: 17px 37px 21px 37px;
  color: #fff;
  background-color: #2468FF;
  width: 234px;
  height: 52px;
  align-items: center;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.0;
  letter-spacing: 0.11px;
  text-transform: uppercase;
}

.container {
  width: 1440px;
}

.amazon__link {
  background-color: transparent;
}

.amazon__uppertitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  color: #404040;
}

.amazon__link {
  display: block;
  text-align: center;
}

.amazon__suptitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}

.amazon__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.20;
  text-align: center;
  color: #404040;
}

.amazon__description {
  display: inline-block;
  max-width: 736px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.40;
  text-align: center;
  color: #404040;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.how-it-work {
  padding: 117px 0;
  background-color: #161F49;
}

.how-it-work__title {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}

.how-it-work__text {
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}

.btn--blue {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 17px 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.0;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2468FF;
  transition: color 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.btn--blue:hover, .btn--blue:focus, .btn--blue:hover::before, .btn--blue:focus::before, .btn--blue:hover::after, .btn--blue:focus::after {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(0);
}

.btn--blue::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-100%);
  transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn--blue::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.12), 0px -1px 1px rgba(0, 0, 0, 0.14), 0px -2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(100%);
  transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.how-it-work__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */