@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  background-color: tomato;
}

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  -webkit-transition: .3s all;
  transition: .3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

h2 {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.model {
  padding-top: 68px;
  padding-bottom: 108px;
  background-color: #F7F7F7;
  text-align: center;
}

.model_title {
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #404040;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_item::before {
  content: "";
  display: block;
  margin-left: 6px;
  margin-right: 6px;
  height: 1px;
  width: 36px;
  background-color: #999999;
}

.filter_item:first-child::before {
  display: none;
}

.filter_btn {
  color: #FFFFFF;
  background-color: #999999;
  border: none;
  width: 18px;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.filter_btn:hover, .filter_btn:focus {
  background-color: #00B68C;
  -webkit-box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #00B68C;
          box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #00B68C;
}

.model_img {
  display: block;
  margin-bottom: 58px;
}

.model_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.model_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: #404040;
}

.model_text:first-child {
  margin-right: 14px;
}

.model-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.model-size_item {
  margin-right: 14px;
  display: block;
  padding: 16px 26px 15px 26px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.38;
  text-align: center;
  color: rgba(64, 64, 64, 0.3);
  border: 2px solid rgba(64, 64, 64, 0.3);
}

.model_btn {
  padding-top: 19px;
  padding-left: 92px;
  padding-bottom: 19px;
  padding-right: 92px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  background-color: #999999;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.model_btn:hover, .model_btn:focus {
  background-color: #00B68C;
  -webkit-box-shadow: 0px 0px 0px 4px #00b68c inset, 0px 0px 0px 6px #fff inset;
          box-shadow: 0px 0px 0px 4px #00b68c inset, 0px 0px 0px 6px #fff inset;
}
/*# sourceMappingURL=main.css.map */