<section class="amazon">
  <div class="container container--center">
    <p class="amazon__uppertitle">Explore eero systems on</p>
    <a
      class="amazon__link"
      href="https://www.amazon.com/s?k=eero&crid=3SCOI5GWV27VW&sprefix=eero%2Caps%2C197&ref=nb_sb_noss_1"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="./images/amazon/logo.amazon.png" alt="On the photo logo of the company Amazon "
    /></a>
    <p class="amazon__subtitle">Shop now</p>
    <h2 class="amazon__title">More wifi for the devices in your connected home.</h2>
    <p class="amazon__description">
      eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase your internet’s
      efficiency, and reduce network congestion. Say goodbye to dead spots and buffering with a
      connection that doesn't slow you down, even as you add more devices.
    </p>

    <a href="" class="js-open-modal amazon__button" data-modal="2">Find your eero system</a>

    <div class="modal" data-modal="2">
      <!--   Svg иконка для закрытия окна  -->
      <svg
        class="modal__cross js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <p class="modal__title">Заголовок окна 2</p>
    </div>
    <img
      src="./images/amazon/amazon.img.jpg"
      class="amazon__img"
      alt="The photo shows the range of the signal"
    />
  </div>
</section>
