<div class="footer__item">
    <div class="feedback">
        <b class="feedback__title">Connect with us</b>
        <p class="feedback__descr">For the latest eero news and promotions.</p>



        <form action="feedback__form js-users-form">

            <label for="email-footer" class="feedback__label"></label>
            <input class="feedback__input" type="email" name="user-email" id="email-footer" autocomplete="email"
                placeholder="EMAIL">

            <button class="feedback__btn" type="submit">Submit
            </button>

        </form>
    </div>
</d