<header class="header">
      <p class="uppertitle">Free 2-day shipping | 30-day money back guarantee</p>
      <a href="" class="logo link">eero</a>
      <nav>
        <ul class="nav-list list">
          <li class="item"><a class="link" href="">Technology</a></li>
          <li class="item"><a class="link" href="">Products</a></li>
          <li class="item"><a class="link" href="">eero Secure</a></li>
          <li class="item"><a class="link" href="">Support</a></li>
          <li class="item"><a class="link" href="">Find your system</a></li>
          <li class="item"><a class="link" href="">How it works</a></li>
        </ul>
      </nav>
      <button class="button" type="button">Shop</button>
    </header>