<section class="model">
    <h2 class="model_title">Find your eero system</h2>

    <ul class="filter list">
        <li class="filter_item"><button class="filter_btn">1</button></li>
        <li class="filter_item"><button class="filter_btn">2</button></li>
        <li class="filter_item"><button class="filter_btn">3</button></li>
        <li class="filter_item"><button class="filter_btn">4</button></li>
    </ul>

    <div class="model_img">
        <img src="/src/images/model/model.png" alt="model">
    </div>

    <div class="model_choice">
        <p class="model_text">I have a</p>
        <ul class="model-size list">
            <li class="model-size_item">smaller</li>
            <li class="model-size_item">medium</li>
            <li class="model-size_item">larger</li>
        </ul>
        <p class="model_text">home.</p>
    </div>

    <button class="model_btn">Next</button>
</section>
