
<!-- potential-section -->
<section class="potential">
    <div class="potential-container">
        <ul class="potential__list">
            <li class="potential__item">
               <a class="potential__link" href="#"></a>
            </li>
            <li class="potential__item">
                <a class="potential__link" href="#"></a>
            </li>
            <li class="potential__item">
                <a class="potential__link" href="#"></a>
            </li>
        </ul>
        <strong class="potential__title">Unlock your wifi's potential</strong>
        <p class="potential__text">Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to connect
            compatible devices with Alexa. So you can control certain ligts, locks, plugs, and more-without the need to buy 
            separate smart home hubs for each.
        </p>
        <button class="potential__btn">Learn more</button>
    </div>
</section>
